html {
    font-size: 30px;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: whitesmoke;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    padding: 2px;
    margin: 2px 20px;

}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: rgba(218, 214, 214, 0.602);

}

a:hover{
    color: rgba(233, 96, 96, 0.662);
    text-decoration: underline;
}

a:active{
    color: rgba(255, 115, 0, 0.654);

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:hsl(269, 36%, 7%, 0.79);
    margin: 0 0;;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

#portrait {
    margin: 80px auto 70px auto;
    background: url("portrait.jpg") no-repeat;
    background-position: center;
    display: block;
    background-size: cover;
    font-size: 900%;
    color: rgb(41, 0, 128);
    text-align:left;
    display: block;
    font-family: 'Megrim', cursive;
    background-color:hsla(283, 47%, 3%, 0.73);
    height: 600px;
    width: 700px;
    text-shadow: 4px 4px tomato;
    border-radius: 40%;
}
#portrait:hover {
    color: rgba(0, 0, 128, 0.653);
    text-shadow: 4px 4px rgba(255, 99, 71, 0.778);
}
#portrait:active {
    margin: 80px auto 70px auto;
    background: url("portrait(moving).jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: transparent;
    font-size: 900%;
    display: block;
    text-align: left;
    background-color:hsla(283, 47%, 3%, 0.73);
    height: 600px;
    width: 700px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

h1 {
    border-top: 5px rgba(116, 17, 17, 0.422) double;
    border-radius: 50%;
    font-family: 'Ms Madi', cursive;
    font-size: 200%;
    color: rgb(137, 58, 58);
    text-shadow: 1px 1px rgba(175, 65, 65, 0.357);
    position: center;
    margin: 100px 0 0 0;
    padding-top: 100px;
}

p {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: salmon;
    font-weight: lighter;
    line-height: 1.5;
    background-color: whitesmoke;
    text-align: distribute;
    margin: 30px 50px 60px 50px;
    font-family: 'Cutive Mono', monospace;
    padding-top: 1cm;
}



footer {
    bottom: 0;
    width: 100%;
    background-color:hsl(269, 36%, 7%, 0.79);
    margin: 0 0;;
    letter-spacing: 0.15em;
    padding: 10px;
    font-size: 50%;
}

