html {
    font-size: 30px;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: #f5f5f5;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    padding: 2px;
    margin: 2px 20px;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: rgba(218, 214, 214, 0.602);

}

a:hover{
    color: rgba(233, 96, 96, 0.662);
}

a:active{
    color: rgba(255, 115, 0, 0.654);

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:hsl(269, 36%, 7%, 0.79);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;

}

#portrait {
    margin: 0;
    background: url("portrait.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 350px;
    color: hsl(299, 60%, 18%, 75%);
    display: block;
    text-align: left;
    font-family: 'Audiowide', cursive;
}
#portrait:hover {
    margin: 0;
    background: url("portrait(moving).jpg") no-repeat;
    background-position: center;
    background-size: contain;
    color: hsla(283, 47%, 3%, 0.73);
    font-size: 350px;
    display: block;
    text-align: left;
}

.hover-img:hover{
    background-image: url("portrait(moving).jpg") no-repeat;
}
body img:hover{
    opacity:0.5;
}
p {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: salmon;
    font-weight: lighter;
    word-spacing: 0.25em;
    line-height: 1.4;
    background-color: whitesmoke;
    text-align: justify;
    margin: 40px 100px;
    letter-spacing: .2rem ;
}

footer {
    background-image: url("sunset.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10rem;
    filter: grayscale(70%);
}
footer:hover {
    filter: grayscale(50%);
}
#contact {
    background-color: hsl(269, 36%, 99%, 0.38);
    font-size: 30px;
    position: relative;
}
